<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Productos</h1>
			<div class="text-right">
				<% if user_signed_in? %>
				<div class="text-right">
				  <%= link_to "Publicar Producto", new_product_path, class: "btn btn-primary" %>
				</div>
				<% end %>
			</div>
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>URL</th>
					<th>Description</th>
					<th></th>
				</tr>
				<% @products.each do |product| %>
					<tr>
						<td><%= link_to product.name, product %></td>
						<td><%= product.url %></td>
						<td><%= product.description %></td>
						<td>
						  <% if user_signed_in? %>
						    <%= link_to "Editar", edit_product_path(product) %>
						    <%= link_to "Eliminar", product, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
						  <% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
