<div class="product-page">
  <header class="product-header" <%= header_style %>>
    <h1><%= @product.name %></h1>
    <p><%= @product.description %></p>
    <a href="<%= @product.url %>" class="btn btn-primary btn-lg" target="_blank">¡Obtenlo!</a>
    <% if user_signed_in? && @product.user == current_user %>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_product_path(@product) %>
      <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @product, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
    </div>
    <% end %>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="votes">
          <h2>Votos</h2>
          <% @product.votes.each do |vote| %>
            <span><%= vote.user.email %> </span>
          <% end %>
        </div>

        <div class="comments">
          <h2>Comentarios</h2>
          <% @product.comments.each do |comment| %>
            <div class="panel panel-default">
              <header class="panel-heading"><%= comment.user.email %></header>
              <div class="panel-body"><%= comment.body %></div>
            </div>
          <% end %>

          <% if signed_in? %>
            <%= form_for [@product, @product.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
