<!DOCTYPE html>
<html>
  <head>
    <title>ProductHuntClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-warning alert-dismissible" role="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
